
<%= form_for [board, comment] do |form| %>

<div class='form-group mb-30'>
    <%= form.text_area :content, class: "form-control", placeholder: "コメント内容", rows: 4 %>
</div>
    <%= form.submit :送信, class: "btn btn-transparent", style: "padding: 5px 10px"; %>
<% end %>
