<div class="row mt15" id='followed_board'>
    <% @boards.each do |board| %>
        <%= render "shared/board_panel", board: board %>
  <% end %>
</div>

<div class='mb15'>
    <nav>
    <%= paginate @boards %>
    </nav>
</div>

